// Fonts
$primary-font-family: Death Star;
$secondary-font-family: Arial;

// Colors
$candlelight: rgb(252,229,31);
$hacienda: rgb(147,138,29);
$black: rgb(0,0,0);
$white: rgb(255,255,255);
$mine-shaft-opaque: rgba(36,36,36,0.7);