@import './styles/mixins.scss';
@import './styles/variables.scss';

html,
body {
	font-size: 14px;
	padding: 0;
	margin: 0;
	background-color: $black;
	overflow-x: hidden;
}

body {
	@include setBackground('./assets/images/bg.png');
	height: auto;
	width: 100vw;

	&.prevent-scroll {
		overflow: hidden;
	}

	* {
		outline: none;
	}
}